spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: 'postgres'
    password: 'postgres'

  jpa:
    hibernate:
        ddl-auto: update
    properties:
      hibernate:
        dialect:  org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: testtspring
    password: 
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
property-rental:
  security:
    jwt:
      secret: somesecretkey
      time: 3600
